html {font-size: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: rgb(32,32,32);}


h1 {font-size: 1.5rem;
    box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;}

h2 {font-size: 1.2rem;
    box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw; }

p  {font-size: 1rem;
    box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;}

div>p {
    font-size: 0.5rem;
    box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;
}

ul {box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;}

.quellen {
    margin-inline: 25vw;
    padding: 10px;
}

.quellen li {
    margin-block: 10px 20px;
    padding-block-end: 10px;
    border-block-end: 1px solid #aaa;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.quellen li time {
    background: #333;
    color: #eee;
    padding: 1px 8px 4px;
    border-radius: 5px;
}

ol {box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;}

table {box-sizing: content-box;
    background-color: rgb(224,224,224);
    margin-right: 75vw;}

td {
    padding: 10px;
    padding-block-end: 40px;
}

td img {
    width: 200px;
    height: auto;
}

a {
    color: red;
    text-decoration: none;
}

.nav {
    width: 100%;
}

.nav ul {
    margin: 0;
    padding: 10px;
    display: flex;
    gap: 1px;
    list-style: none;
    background-color: transparent;
}

.nav li a {
    color: #999;
    background-color: #333;
    padding: 10px;
}

.nav li.active a {
    color: red;
    background-color: #ccc;
}

.nav li a:hover {
    color: #333;
    background-color: #aaa;
}
